In [1]:
import pandas as pd
import pickle as pkl

In [3]:
df = pd.read_csv("./data/CSV/trainingGeneralists.csv")

In [4]:
newData = {"EA":[],"Group":[],"Fitness":[]}

In [5]:
for num, dat in df.iterrows():
    newData["EA"].append(dat["EA"])
    newData["Group"].append(str(dat["Group"])+str(dat["Type"]))
    newData["Fitness"].append(dat["Fitness"])

In [6]:
newData = pd.DataFrame.from_dict(newData)

Test Specialists

In [43]:
df = pd.read_csv("./data/CSV/testScoresSpecialists.csv")
newData = {"EA":[],"Group":[],"Fitness":[]}

In [44]:
for ea in [1,2]:
    for enemy in [1,2,3,4,5,6,7,8]:
        for trnd in [0,1,2,3,4,5,6,7,8,9]:
            dat = df.loc[(df["EA"] == ea) & (df["Enemy"] == enemy) & (df["Training Round"] == trnd)].mean()
            newData["EA"].append(ea)
            newData["Group"].append(str(enemy))
            newData["Fitness"].append(dat["Fitness"])

/tmp/ipykernel_480686/2728169956.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dat = df.loc[(df["EA"] == ea) & (df["Enemy"] == enemy) & (df["Training Round"] == trnd)].mean()

In [45]:
newData = pd.DataFrame.from_dict(newData)

In [49]:
newData

     EA Group    Fitness
0     1     1  15.807199
1     1     1  -5.068199
2     1     1  53.538544
3     1     1   7.297964
4     1     1  59.766180
..   ..   ...        ...
155   2     8  86.328900
156   2     8  86.734129
157   2     8  73.576983
158   2     8  86.496467
159   2     8  86.617649

[160 rows x 3 columns]

In [56]:
for ea in [1,2]:
    for enemy in [1,2,3,4,5,6,7,8]:
        print("EA",ea,newData.loc[(newData["EA"] == ea) & (newData["Group"] == str(enemy))]["Fitness"].max())

EA 1 60.745821755503094
EA 1 92.13310478355905
EA 1 69.91809984405738
EA 1 35.04762789943933
EA 1 92.26619090530082
EA 1 67.6348640486711
EA 1 88.39457483642549
EA 1 89.63509831975409
EA 2 77.8380183497735
EA 2 91.88555829435174
EA 2 73.45283101703316
EA 2 72.39212066557474
EA 2 93.55570064900925
EA 2 88.05221271063172
EA 2 72.18885074046672
EA 2 89.32645713854455

In [18]:
pd.DataFrame.from_dict(newData).to_csv("./specialistsTestRes.csv",index=False)

In [25]:
df = pd.read_csv("./data/CSV/testScoresGeneralists.csv")
newData = {"EA":[],"Group":[],"Fitness":[]}

In [26]:
for ea in [1,2]:
    for group in [1,2]:
        for type_ in ["S", "R"]:
            for trnd in [0,1,2,3,4,5,6,7,8,9]:
                dat = df.loc[(df["EA"] == ea) & (df["Group"] == group) & (df["Type"] == type_) & (df["Training Round"] == trnd)].mean()
                newData["EA"].append(ea)
                newData["Group"].append(str(int(dat["Group"]))+type_)
                newData["Fitness"].append(dat["Fitness"])

/tmp/ipykernel_485875/76806096.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dat = df.loc[(df["EA"] == ea) & (df["Group"] == group) & (df["Type"] == type_) & (df["Training Round"] == trnd)].mean()

In [27]:
pd.DataFrame.from_dict(newData).to_csv("./generalistsTestRes.csv",index=False)